# Byte-compiled / optimized / DLL files
__pycache__/

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# PyCharm Files
.idea

# Basic CNN model > 100MB cannot be pushed
cnn/basic_cnn_model.h5