# Byte-compiled / optimized / DLL files
__pycache__/

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# PyCharm Files
.idea

# Basic CNN model > 100MB cannot be pushed
cnn_class_label_predictor/basic_cnn_model_cpu.h5
cnn_class_label_predictor/basic_cnn_model_gpu.h5